.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 520px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 440px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 200px 30px 30px;
}

.u-section-1 .u-text-1 {
  margin-left: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  margin-right: 269px;
  margin-top: 20px;
}

.u-section-1 .u-text-2 {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 3rem;
  font-weight: 700;
}

.u-section-1 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 489px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 181px;
  height: 181px;
  background-image: url("images/g99f52680ce543442a2ee8ff7c2069128910f4cccb288ca55bd26a7e8cee59bb1fe3b6a7a38bbbce959a82480d3e0e7221681444c4900d6f94462b539567bdf82_1280.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  width: 140px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-5 {
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 525px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 363px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 120px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 136px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 403px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 448px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    width: 153px;
    height: 153px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 861px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -128px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 920px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 513px;
  }

  .u-section-1 .u-text-1 {
    margin-bottom: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-bottom: 0;
  }
}